.input:focus ~ .label{
  top: 0;
  transition: all .2s ease-in;
  font-size: 13px;
  background-color: rgb(30, 41, 59);
  
}
.input:focus ~ .label2{
  top: 0;
  transition: all .2s ease-in;
  font-size: 13px;
  background-color: rgb(8, 51, 68);
  
}
.input{
  background-color: transparent;
  border-radius: 10%;
  border: solid white 1px;
  color: white;
}
.label{
  color: white;
  transition: all .2s;
}
.label2{
  color: white;
  transition: all .2s;
}
.input:not(:placeholder-shown) ~ .label {
  top: 0;
  font-size: 13px;
   background-color: rgb(30, 41, 59);

}
.input:not(:placeholder-shown) ~ .label2 {
  top: 0;
  font-size: 13px;
  background-color: rgb(8, 51, 68);

}
